In [1]:
# однострочный комментарий
'''
многострочный комментарий
'''
print("Текст после комментариев.")

Текст после комментариев.

In [2]:
# переменные
userAge, userName = 30, 'Name'
print(userAge, userName)

30 Name

In [3]:
username = 'Names'
userName != username

True

In [4]:
# верблюжийРегистр или символ_подчеркивания - два соглашения в именовании переменных и пр.

In [5]:
x = 5
y = 10
x = y
print('x = ',x)
print('y = ', y)

x =  10
y =  10

In [6]:
x = 5
y = 10
y = x
print('x = ',x)
print('y = ', y)

x =  5
y =  5

In [18]:
x, y = 7, 5
print('x + y =', x + y)
print('x - y =', x - y)
print('x / y =', x / y)
print('x * y =', x * y)
print('x // y =', x // y)
print('x % y =', x % y)
print('x ** y =', x ** y)

x + y = 12
x - y = 2
x / y = 1.4
x * y = 35
x // y = 1
x % y = 2
x ** y = 16807

In [20]:
x = 5
y = 5
x = x + 5
y += 5 # работает для всех 7 операторов из примера выше
print('x = ', x)
print('y = ', y)

x =  10
y =  10

In [3]:
# тип данных относится к значению, которое хранит переменная
userAge = 35
userHeight = 1.82
userName = 'Alexandr'
userName = userName.upper()
print(userName)

ALEXANDR

In [9]:
# Форматирование строк посредством оператора %
brand = 'Apple'
exchangeRate = 1.235235245
message = 'The price of this %s laptop is %d USD and the exchange rate is %4.2f USD to 1 EUR'%(brand, 1299, exchangeRate)
print(message)

The price of this Apple laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

In [4]:
# Форматирование посредством метода format()
message = 'The price of this {0:s} laptop is {1:d} USD and the exchange rate is {2:4.2f} USD to 1 EUR'. format('April', 1299, 1.235235245)
print (message)

The price of this April laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

In [5]:
message = 'The price of this {} laptop is {} USD and the exchange rate is {} USD to 1 EUR'. format('April', 1299, 1.235235245)
print (message)

The price of this April laptop is 1299 USD and the exchange rate is 1.235235245 USD to 1 EUR

In [1]:
# Приведение типов (преобразование одного типа данных в другой)
# есть 3 встроенные функции int(), float(), str()
int(34.6)

34

In [39]:
# Коллекции данных - Списки
listNone = []                         # Определение пустого списка
listName = ['one', 'two', 'three']
userAge = [25, 45, 34]
listName[0] = 'Sam'
userAge[0] = 15
userAge[-1] = 70
userAge_2 = userAge[1:3:2]            # Срез списка (слайс)
listName.append('Max')                # Добавление в список Мах
print(listName, userAge, userAge_2)
userAge [2] = 1000
print(userAge)
userAge_2.append('105')
del userAge_2 [0]                     # Удаление из списка индекса 0
print(userAge_2)
userAge.extend(userAge_2)             # Расширение сптска userAge списком userAge_2
print(userAge)
56 in userAge                         # проверка на вхождение 56 в список userAge
userAge.insert(1, 'Post')             # Вставка в список с указанием позиции
len(userAge)                          # Длина списка- количество элементов
element = userAge.pop(-1)             # Получение значение элемнта с его последующим удалением
print('Удаляемый элемент:', element)
new = sorted(userAge_2)
print(new)

['Sam', 'two', 'three', 'Max'] [15, 45, 70] [45]
[15, 45, 1000]
['105']
[15, 45, 1000, '105']
Удаляемый элемент: 105
['105']

In [31]:
# Коллекции данных - Кортежи
tupleName = ()
monthsOfYear = ('Jan', 'Feb','Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
print(tupleName, monthsOfYear)
print(monthsOfYear * 3)

() ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')

In [49]:
# Словари
dictoriName = {}             
userNameAge = dict(Max =  40, Alex = 45)                       # Объявление словаря
myDictionary = {'Peter': 38, 'Ane': 18, 'Jon': 23}
print(myDictionary, userNameAge)
userNameAge['Max']
userNameAge['Alex'] = 47
print(userNameAge)
del userNameAge['Alex']
print(userNameAge)

{'Peter': 38, 'Ane': 18, 'Jon': 23} {'Max': 40, 'Alex': 45}
{'Max': 40, 'Alex': 47}
{'Max': 40}

In [63]:
# Интерактивность
myName = input("Как ваше имя?")
myAge = input("А сколько лет?")
print(f"Привет {myName}! Тебе действительно {myAge} лет?")           # интерполяция f-строки
print("Привет %s! Тебе действительно %s лет?"% (myName, myAge))      # с использованием заполнителя %
print("Привет {}! Тебе действительно {} лет?".format(myName, myAge)) # с помощью метода format
print('''
Это преддложение
разделено \nна
три строки (четыре- экранированный спецсимвол))!''')
print(r'''
Это преддложение
разделено \nна
три строки (четыре- экранированный спецсимвол))!''') # r позволяет печатать спецсимволы

Как ваше имя?1
А сколько лет?1
Привет 1! Тебе действительно 1 лет?
Привет 1! Тебе действительно 1 лет?
Привет 1! Тебе действительно 1 лет?

Это преддложение
разделено
на
три строки (четыре- экранированный спецсимвол))!

Это преддложение
разделено \nна
три строки (четыре- экранированный спецсимвол))!

In [70]:
# Управляющие команды и операторы сравнения
print(5 == 2)
print(5 != 2)
print(5 > 2)
print(5 < 2)
print(5 >= 2)
print(5 <= 2)
print(5 == 2 and 2 == 5)
print(5 > 2 and 2 < 5)
print(5 > 2 or 2 < 5)
print(not True)

False
True
True
False
True
False
False
True
True
False

In [2]:
userInput = input("Введите 1 или 2:")
if  userInput == 1:
    print("Вы ввели 1")
elif userInput == 2:
    print("Вы ввели 2")
else:
    print("Вы ввели: ", userInput)

Введите 1 или 2:6
Вы ввели:  6

In [4]:
# инлайновый if
num = 0
number = int(input("Введите число от 0 до 5: "))
num = 5 if number == 1 else 10
print(num)

print("Вариант А" if number==3 else "Вариант Б")

Введите число от 0 до 5: 2
10
Вариант Б

In [11]:
# Цикл for
"""
for a in iterable:
    print(a)
"""
br = '-----'
pets = ['cats', 'dogs', 'rabbits', 'hamsters']
for myPets in pets:                            # вывод списка
    print(myPets)
print(br)
    
for index, myPets in enumerate(pets):          # вывод списка с нумерацией
    print(index+1, myPets)                     # по умолчанию нумерация начинается с 0
print(br)

cats
dogs
rabbits
hamsters
-----
1 cats
2 dogs
3 rabbits
4 hamsters
-----

In [20]:
age = {'Максим': 40, 'Оля': 38}
for i in age:
    print("Имя: = %s, Возраст: = %d" %(i, age[i]))
print(br)

Имя: = Максим, Возраст: = 40
Имя: = Оля, Возраст: = 38
-----

In [23]:
age = {'Макс': 40, 'Ольга': 38}
for i, j in age.items():
    print(i, j)
    
for i, j in age.items():
    print("Имя: = %s, Возраст: = %d" %(i, j))

Макс 40
Ольга 38
Имя: = Макс, Возраст: = 40
Имя: = Ольга, Возраст: = 38

In [24]:
message = 'Привет!'
for i in message:
    print(i)

П
р
и
в
е
т
!

In [31]:
# Перебор числовой последовательности
'''
Встроенная функция range() генрирует список чисел
range(начало, конец, шаг)
По умолчанию начинает с 0 и шаг равен 1
'''
ls = range(5)
for i in ls:
    print(i)
print(br)

ls = range(2, 5)
for i in ls:
    print(i)
print(br)

ls = range(2, 5, 2)
for i in ls:
    print(i)
print(br)

0
1
2
3
4
-----
2
3
4
-----
2
4
-----