In [1]:
# однострочный комментарий
'''
многострочный комментарий
'''
print("Текст после комментариев.")

Текст после комментариев.

In [2]:
# переменные
userAge, userName = 30, 'Name'
print(userAge, userName)

30 Name

In [3]:
username = 'Names'
userName != username

True

In [4]:
# верблюжийРегистр или символ_подчеркивания - два соглашения в именовании переменных и пр.

In [5]:
x = 5
y = 10
x = y
print('x = ',x)
print('y = ', y)

x =  10
y =  10

In [6]:
x = 5
y = 10
y = x
print('x = ',x)
print('y = ', y)

x =  5
y =  5

In [18]:
x, y = 7, 5
print('x + y =', x + y)
print('x - y =', x - y)
print('x / y =', x / y)
print('x * y =', x * y)
print('x // y =', x // y)
print('x % y =', x % y)
print('x ** y =', x ** y)

x + y = 12
x - y = 2
x / y = 1.4
x * y = 35
x // y = 1
x % y = 2
x ** y = 16807

In [20]:
x = 5
y = 5
x = x + 5
y += 5 # работает для всех 7 операторов из примера выше
print('x = ', x)
print('y = ', y)

x =  10
y =  10

In [3]:
# тип данных относится к значению, которое хранит переменная
userAge = 35
userHeight = 1.82
userName = 'Alexandr'
userName = userName.upper()
print(userName)

ALEXANDR

In [9]:
# Форматирование строк посредством оператора %
brand = 'Apple'
exchangeRate = 1.235235245
message = 'The price of this %s laptop is %d USD and the exchange rate is %4.2f USD to 1 EUR'%(brand, 1299, exchangeRate)
print(message)

The price of this Apple laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

In [4]:
# Форматирование посредством метода format()
message = 'The price of this {0:s} laptop is {1:d} USD and the exchange rate is {2:4.2f} USD to 1 EUR'. format('April', 1299, 1.235235245)
print (message)

The price of this April laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

In [5]:
message = 'The price of this {} laptop is {} USD and the exchange rate is {} USD to 1 EUR'. format('April', 1299, 1.235235245)
print (message)

The price of this April laptop is 1299 USD and the exchange rate is 1.235235245 USD to 1 EUR

In [1]:
# Приведение типов (преобразование одного типа данных в другой)
# есть 3 встроенные функции int(), float(), str()
int(34.6)

34

In [39]:
# Коллекции данных - Списки
listNone = []                         # Определение пустого списка
listName = ['one', 'two', 'three']
userAge = [25, 45, 34]
listName[0] = 'Sam'
userAge[0] = 15
userAge[-1] = 70
userAge_2 = userAge[1:3:2]            # Срез списка (слайс)
listName.append('Max')                # Добавление в список Мах
print(listName, userAge, userAge_2)
userAge [2] = 1000
print(userAge)
userAge_2.append('105')
del userAge_2 [0]                     # Удаление из списка индекса 0
print(userAge_2)
userAge.extend(userAge_2)             # Расширение сптска userAge списком userAge_2
print(userAge)
56 in userAge                         # проверка на вхождение 56 в список userAge
userAge.insert(1, 'Post')             # Вставка в список с указанием позиции
len(userAge)                          # Длина списка- количество элементов
element = userAge.pop(-1)             # Получение значение элемнта с его последующим удалением
print('Удаляемый элемент:', element)
new = sorted(userAge_2)
print(new)

['Sam', 'two', 'three', 'Max'] [15, 45, 70] [45]
[15, 45, 1000]
['105']
[15, 45, 1000, '105']
Удаляемый элемент: 105
['105']

In [31]:
# Коллекции данных - Кортежи
tupleName = ()
monthsOfYear = ('Jan', 'Feb','Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
print(tupleName, monthsOfYear)
print(monthsOfYear * 3)

() ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')

In [49]:
# Словари
dictoriName = {}             
userNameAge = dict(Max =  40, Alex = 45)                       # Объявление словаря
myDictionary = {'Peter': 38, 'Ane': 18, 'Jon': 23}
print(myDictionary, userNameAge)
userNameAge['Max']
userNameAge['Alex'] = 47
print(userNameAge)
del userNameAge['Alex']
print(userNameAge)

{'Peter': 38, 'Ane': 18, 'Jon': 23} {'Max': 40, 'Alex': 45}
{'Max': 40, 'Alex': 47}
{'Max': 40}