In [1]:
# однострочный комментарий
'''
многострочный комментарий
'''
print("Текст после комментариев.")

Текст после комментариев.

In [2]:
# переменные
userAge, userName = 30, 'Name'
print(userAge, userName)

30 Name

In [3]:
username = 'Names'
userName != username

True

In [4]:
# верблюжийРегистр или символ_подчеркивания - два соглашения в именовании переменных и пр.

In [5]:
x = 5
y = 10
x = y
print('x = ',x)
print('y = ', y)

x =  10
y =  10

In [6]:
x = 5
y = 10
y = x
print('x = ',x)
print('y = ', y)

x =  5
y =  5

In [18]:
x, y = 7, 5
print('x + y =', x + y)
print('x - y =', x - y)
print('x / y =', x / y)
print('x * y =', x * y)
print('x // y =', x // y)
print('x % y =', x % y)
print('x ** y =', x ** y)

x + y = 12
x - y = 2
x / y = 1.4
x * y = 35
x // y = 1
x % y = 2
x ** y = 16807

In [20]:
x = 5
y = 5
x = x + 5
y += 5 # работает для всех 7 операторов из примера выше
print('x = ', x)
print('y = ', y)

x =  10
y =  10

In [3]:
# тип данных относится к значению, которое хранит переменная
userAge = 35
userHeight = 1.82
userName = 'Alexandr'
userName = userName.upper()
print(userName)

ALEXANDR

In [9]:
# Форматирование строк посредством оператора %
brand = 'Apple'
exchangeRate = 1.235235245
message = 'The price of this %s laptop is %d USD and the exchange rate is %4.2f USD to 1 EUR'%(brand, 1299, exchangeRate)
print(message)

The price of this Apple laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

In [4]:
# Форматирование посредством метода format()
message = 'The price of this {0:s} laptop is {1:d} USD and the exchange rate is {2:4.2f} USD to 1 EUR'. format('April', 1299, 1.235235245)
print (message)

The price of this April laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

In [5]:
message = 'The price of this {} laptop is {} USD and the exchange rate is {} USD to 1 EUR'. format('April', 1299, 1.235235245)
print (message)

The price of this April laptop is 1299 USD and the exchange rate is 1.235235245 USD to 1 EUR